select * from ra_ing_ingreso







USE [uonline]
GO
/****** Object:  StoredProcedure [dbo].[web_ptl_login_ldap]    Script Date: 22/10/2021 14:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec dbo.web_ptl_login_ldap '2519782019', 126, 126

ALTER procedure [dbo].[web_ptl_login_ldap] 
    @cuenta varchar(50),
    @cil_codigo int, 
    @cil_codmae int
as
begin
    declare @codper int, @carnet varchar(14)
    if (substring(@cuenta,1,1) in ('0','1','2','3','4','5','6','7','8','9')) --Si es alumno
    begin
		print '-Si es alumno'
        set @carnet =substring(@cuenta,1,2)+'-'+substring(@cuenta,3,4)+'-'+substring(@cuenta,7,4)
        select @codper = per_codigo from ra_per_personas where per_carnet = @carnet

        if (select count(1) from pg_imp_ins_especializacion 
        join pg_apr_aut_preespecializacion on apr_codigo = imp_codapr 
        join ra_cil_ciclo on cil_codigo = apr_codcil where cil_vigente_pre = 'S' and imp_codper = @codper)>0  or 
        (
			select count(1) 
			from ra_egr_egresados 
			join ra_cil_ciclo on cil_codigo = egr_codcil 
			inner join ra_alc_alumnos_carrera on alc_codper = egr_codper and alc_codpla = egr_codpla--AGREGADO EL 04/07/2020 PARA VALIDAR QUE EGRESO CON EL MISMO PLAN ACTUAL
			where egr_codper = @codper 
			and not exists
			(select 1 from ra_ins_inscripcion with (nolock)
			inner join ra_cil_ciclo on cil_codigo = ins_codcil
			where ins_codcil = @cil_codigo and ins_codper = @codper and cil_codcic <> 3
			and not exists (select 1 from ra_mai_mat_inscritas_especial with (nolock) where mai_codins = ins_codigo))
		)>0
		begin
			print '--Almno de la pre'
			select 'Preespecialidad' as tipo, per_nombres_apellidos as nombres, 
			per_carnet, per_codigo as codigo, pla_alias_carrera 
			from ra_per_personas 
			inner join ra_alc_alumnos_carrera on alc_codper = per_codigo
			inner join ra_pla_planes on pla_codigo = alc_codpla
			where per_codigo = @codper and per_estado <> 'I'
        end          
        else 
        begin
			print '--Almno de pregrado'
			select 
				case 
				when per_tipo = 'U' then 'Alumno' 
				when per_tipo = 'M' then 'Maestria' 
				else per_tipo end as tipo, per_nombres_apellidos as nombres, 
				per_carnet,per_codigo as codigo, per_estado, pla_alias_carrera, pla_codigo, fac_nombre, per_apellidos,
				per_codcil_ingreso, per_tipo_ingreso
			from ra_per_personas 
			inner join ra_alc_alumnos_carrera on alc_codper = per_codigo
			inner join ra_pla_planes on pla_codigo = alc_codpla

			inner join ra_car_carreras on car_codigo = pla_codcar
			inner join ra_fac_facultades on fac_codigo = car_codfac
			where per_codigo = @codper and per_estado = 'A'
        end
    end
    else
    begin --Es docente activo A o jubilado J
		print '--Es docente'
        select 'Docente' as tipo,emp_nombres_apellidos as nombres,'' as per_carnet, emp_codigo as codigo, '' as per_estado
        from pla_emp_empleado 
        where emp_email_institucional = @cuenta+'@mail.utec.edu.sv' and emp_estado in ('A', 'J')
    end
end

