USE [uonline]
GO
/****** Object:  StoredProcedure [dbo].[rep_libro_ventas_cf_colecturia]    Script Date: 17/3/2022 11:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--rep_libro_ventas_cf_colecturia 1,'15/08/2016' ,'N'

ALTER proc [dbo].[rep_libro_ventas_cf_colecturia]
@regional int,  
 @fecha varchar(10),  
 @dia_final varchar(1)
as
begin
  
declare   
  @facultad int,  
  @carrera int,  
  @total_exentas_mes numeric(18,2),  
  @total_gravadas_mes numeric(18,2), 
  @total_exportacion_mes numeric(18,2),
  @total_mes numeric(18,2),  
  @total_exentas_mes_antes numeric(18,2),  
  @total_gravadas_mes_antes numeric(18,2), 
  @total_exportacion_mes_antes numeric(18,2), 
  @total_mes_antes numeric(18,2),  
  @fecha_ant datetime  
  
  
set dateformat dmy  
set @facultad = 0  
set @carrera = 0  
--if @fecha = '0' set @fecha = ''  
  
 select @fecha_ant = max(mov_fecha)  
 from col_mov_movimientos  
 where month(mov_fecha) = month(@fecha)  
 and year(mov_fecha) = year(@fecha)  
 and mov_fecha < convert(datetime,@fecha,103)  
  
  
  select   
  @total_exportacion_mes =sum(expor),
  @total_exentas_mes = sum(exento),  
  @total_gravadas_mes = sum(suma),  
  @total_mes = sum(cantidad)
  from  
  (  
  select   
   0 expor,
   sum(case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 then 0 else round(isnull(dmo_valor,0),2) end end) exento,  
   --sum(case when mov_estado = 'A' then 0 else case when tmo_exento = 'S' then 0 else round(isnull(dmo_valor,0),2) end end) exento,  
   sum(case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 or isnull(dmo_iva,0) = 0 then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end) suma,  
   --sum(case when mov_estado = 'A' then 0 else case when tmo_exento = 'N' then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end) suma,  
   sum(case when mov_estado = 'A' then 0 else isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) end) cantidad  
  from col_mov_movimientos   
  join col_dmo_det_mov on dmo_codmov = mov_codigo  
  left outer join col_tmo_tipo_movimiento on tmo_codigo = dmo_codtmo  
  where month(mov_fecha) = month(@fecha)  
  and year(mov_fecha) = year(@fecha)  
  and mov_fecha <= convert(datetime,@fecha,103)  
  and mov_recibo <> 0  
  union all  

  --select 
  -- 0 expor,
  --sum(case when fac_estado = 'A' then 0 else  
  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then 0 else round(isnull(dfa_valor,0),2) end end),  
  --sum(case when fac_estado = 'A' then 0 else  
  ----case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  --Modificado el 07/12/2012
  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)
  --else 0 end end),  
  --sum(case when fac_estado = 'A' then 0  
  ----else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  --Modificado el 07/12/2012
  --else isnull((round(dfa_valor,2)),0) end)
  --from col_fac_facturas  
  --join col_dfa_det_fac on dfa_codfac = fac_codigo  
  --where month(fac_fecha) = month(@fecha)  
  --and year(fac_fecha) = year(@fecha)  
  --and fac_tipo = 'F' 
  --and fac_factura <> 0 
  --and fac_fecha <= convert(datetime,@fecha,103)  

   select 
   0 expor,
  sum(case when fac_estado = 'A' then 0 else  
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then 0 else round(isnull(dfa_valor,0),2) end end),  
  sum(case when fac_estado = 'A' then 0 else  
  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  --Modificado el 07/12/2012
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)
  else 0 end end),  
  sum(case when fac_estado = 'A' then 0  
  --else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  --Modificado el 07/12/2012
  else isnull((round(dfa_valor,2)),0) end)
  from col_fac_facturas  
  join col_dfa_det_fac on dfa_codfac = fac_codigo  
  where month(fac_fecha) = month(@fecha)  
  and year(fac_fecha) = year(@fecha)  
  and fac_tipo = 'F' 
  and fac_factura <> 0 
  and fac_fecha <= convert(datetime,@fecha,103)  

  union all --Exportacion

    select sum(case when fac_estado = 'A' then 0 else  
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then 0 else round(isnull(dfa_valor,0),2) end end),0,  
  sum(case when fac_estado = 'A' then 0 else  
  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  --Modificado el 07/12/2012
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)
  else 0 end end),  
  sum(case when fac_estado = 'A' then 0  
  --else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  --Modificado el 07/12/2012
  else isnull((round(dfa_valor,2)),0) end)
  from col_fac_facturas  
  join col_dfa_det_fac on dfa_codfac = fac_codigo  
  where month(fac_fecha) = month(@fecha)  
  and year(fac_fecha) = year(@fecha)  
  and fac_tipo = 'E' 
  and fac_factura <> 0 
  and fac_fecha <= convert(datetime,@fecha,103)  

  ) t  
  
     select   
  @total_exportacion_mes_antes =sum(expor),
  @total_exentas_mes_antes = sum(exento),  
  @total_gravadas_mes_antes = sum(suma),  
  @total_mes_antes = sum(cantidad)  
  from  
  (  
					  select   
					  0 expor,
					   sum(case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 then 0 else round(isnull(dmo_valor,0),2) end end) exento,  
					   --sum(case when mov_estado = 'A' then 0 else case when tmo_exento = 'S' then 0 else round(isnull(dmo_valor,0),2) end end) exento,  
					   sum(case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 or isnull(dmo_iva,0) = 0  then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end) suma,  
					   --sum(case when mov_estado = 'A' then 0 else case when tmo_exento = 'N' then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end) suma,  
					   sum(case when mov_estado = 'A' then 0 else isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) end) cantidad  
					  from col_mov_movimientos   
					  join col_dmo_det_mov on dmo_codmov = mov_codigo  
					  join col_tmo_tipo_movimiento on tmo_codigo = dmo_codtmo  
					  where month(mov_fecha) = month(@fecha)  
					  and year(mov_fecha) = year(@fecha)  
					  ---and datediff(d,mov_fecha,@fecha_ant)=0  
					  and mov_fecha < convert(datetime,@fecha,103)  
					  and mov_recibo <> 0  
					  union all  
					  
					  --select 0 expor,sum(case when fac_estado = 'A' then 0 else  
					  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0 then 0 else round(isnull(dfa_valor,0),2) end end),  
					  --sum(case when fac_estado = 'A' then 0 else  
					  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  
					  --else 0 end end),  
					  --sum(case when fac_estado = 'A' then 0  
					  --else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  
					  --from col_fac_facturas  
					  --join col_dfa_det_fac on dfa_codfac = fac_codigo  
					  --where month(fac_fecha) = month(@fecha)  
					  --and year(fac_fecha) = year(@fecha)  
					  --and fac_tipo = 'F' 
					  --and fac_factura <> 0  
					  --and fac_fecha < convert(datetime,@fecha,103) 

					  					    select 
   0 expor,
  sum(case when fac_estado = 'A' then 0 else  
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then 0 else round(isnull(dfa_valor,0),2) end end),  
  sum(case when fac_estado = 'A' then 0 else  
  --case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  --Modificado el 07/12/2012
  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0  then round(isnull(dfa_valor,0),2)
  else 0 end end),  
  sum(case when fac_estado = 'A' then 0  
  --else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  --Modificado el 07/12/2012
  else isnull((round(dfa_valor,2)),0) end)
  from col_fac_facturas  
  join col_dfa_det_fac on dfa_codfac = fac_codigo  
  where month(fac_fecha) = month(@fecha)  
  and year(fac_fecha) = year(@fecha)  
  and fac_tipo = 'F' 
  and fac_factura <> 0 
  and fac_fecha < convert(datetime,@fecha,103) 

					  union all 

					  select sum(case when fac_estado = 'A' then 0 else  
					  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0 then 0 else round(isnull(dfa_valor,0),2) end end),0,  
					  sum(case when fac_estado = 'A' then 0 else  
					  case when isnull(dfa_iva,0) > 0  or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  
					  else 0 end end),  
					  sum(case when fac_estado = 'A' then 0  
					  else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end)  
					  from col_fac_facturas  
					  join col_dfa_det_fac on dfa_codfac = fac_codigo  
					  where month(fac_fecha) = month(@fecha)  
					  and year(fac_fecha) = year(@fecha)  
					  and fac_tipo = 'E' 
					  and fac_factura <> 0  
					  and fac_fecha < convert(datetime,@fecha,103) 
  ) t  

select month(convert(datetime,@fecha,103) ) mes, dbo.fn_crufl_NombreMes(month(convert(datetime,@fecha,103) )) nombre_mes,  
year(convert(datetime,@fecha,103))  anio, convert(datetime,@fecha,103) fecha,  
@total_exportacion_mes exportacion_mes, 
@total_exentas_mes exentas_mes,@total_gravadas_mes gravadas_mes,@total_mes total_mes,  
@total_exentas_mes_antes exentas_mes_antes,@total_gravadas_mes_antes gravadas_mes_antes,@total_exportacion_mes_antes exportacion_mes_antes,@total_mes_antes total_mes_antes,  
 uni_nombre, uni_nit, uni_iniciales, uni_direccion, uni_registro,estado,  
       right('0' + cast(day(del) as varchar), 2) dia,   
       tipo, Numero_Documento documento_del,
	   sum(expo) ventas_exportacion ,  
       sum(exento) ventas_exentas, sum(neto) neto, sum(iva) iva, sum(suma) ventas_gravadas,   
       sum(cantidad) total_ventas, del, sum(cheque) cheque, sum(efectivo) efectivo, sum(tarjeta) tarjeta ,  
@dia_final final  ,mov_codigo,lote
from (  
 select uni_nombre, uni_nit, uni_iniciales,  uni_direccion, uni_registro, Numero_Registro, Numero_Documento,   
     tipo,sum(expo) expo, sum(exento) exento, sum(neto) neto, sum(iva) iva, sum(suma) suma,   
     sum(cantidad) Cantidad, estado, del, sum(cheque) cheque, sum(efectivo) efectivo, sum(tarjeta) tarjeta ,mov_codigo,lote
from (  
  select uni_nombre, uni_nit, uni_iniciales,  uni_direccion, uni_registro,  
               convert(varchar,mov_codigo) Numero_Registro,   
      ltrim(rtrim(cast(mov_recibo as int))) Numero_Documento,  
  'Factura' tipo,  
  0 expo, 
  case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 or tmo_exento = 'N' then 0 else round(isnull(dmo_valor,0),2) end end exento,  
  case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 or tmo_exento = 'S' then round(isnull(dmo_valor/*((dmo_valor+dmo_iva)/1.13)*/,0),2) else 0 end end neto,  
  --case when mov_estado = 'A' then 0 else case when tmo_exento = 'S' then 0 else round(isnull(dmo_valor,0),2) end end exento,  
  --case when mov_estado = 'A' then 0 else case when tmo_exento = 'N' then round(isnull(dmo_valor/*((dmo_valor+dmo_iva)/1.13)*/,0),2) else 0 end end neto,  
  
  case when mov_estado = 'A' then 0 else isnull(dmo_iva,0) end iva,   
  case when mov_estado = 'A' then 0 else case when isnull(dmo_iva,0) > 0 or tmo_exento = 'N' then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end suma,  
  --case when mov_estado = 'A' then 0 else case when tmo_exento = 'N'  then round(isnull(dmo_valor,0),2)+ round(isnull(dmo_iva,0),2) else 0 end end suma,  
  case when mov_estado = 'A' then 0 else isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) end "Cantidad",  
  case when mov_estado = 'A' then 0 else case when mov_tipo_pago = 'T' then isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) else 0 end end tarjeta,  
  case when mov_estado = 'A' then 0 else case when mov_tipo_pago = 'E' then isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) else 0 end end efectivo,  
  case when mov_estado = 'A' then 0 else case when mov_tipo_pago = 'C' then isnull((round(dmo_valor,2) + round(isnull(dmo_iva,0),2)),0) else 0 end end cheque,  
  mov_estado estado,  
  mov_fecha del,mov_codigo,mov_lote lote 
  from col_mov_movimientos   
  left outer join col_dmo_det_mov on dmo_codmov = mov_codigo  
  left outer join col_tmo_tipo_movimiento on tmo_codigo = dmo_codtmo  
  join ra_per_personas on per_codigo = mov_codper  
  join ra_reg_regionales on reg_codigo = per_codreg  
  join ra_uni_universidad on uni_codigo = reg_coduni  
  where datediff(d,mov_fecha,convert(datetime,@fecha,103)) = 0  
  and month(mov_fecha) = month(@fecha)  
  and year(mov_fecha) = year(@fecha)  
  and mov_recibo <> 0  
  union all  
  select uni_nombre, uni_nit, uni_iniciales,  uni_direccion, uni_registro,  
               convert(varchar,fac_codigo) Numero_Registro,   
      ltrim(rtrim(cast(case when isnumeric(fac_factura) = 0 then 0 else fac_factura end as int))) Numero_Documento,   
        'Factura' tipo,  
		0 expo,
  case when fac_estado = 'A' then 0 else  
  case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then 0 else round(isnull(dfa_valor,0),2) end end exento,  
  case when fac_estado = 'A' then 0 else case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2) else 0 end end neto,   
  case when fac_estado = 'A' then 0 else isnull(dfa_iva,0) end iva,   
  case when fac_estado = 'A' then 0 else  
  --case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  
  
  case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)
  else 0 end end suma,  
  case when fac_estado = 'A' then 0  
  --   else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end "Cantidad",
  else isnull((round(dfa_valor,2)),0) end "Cantidad",    
  case when fac_estado = 'A' then 0   
  else case when fac_tipo_pago = 'T' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
  else 0 end end tarjeta,  
  case when fac_estado = 'A' then 0  
  else case when fac_tipo_pago = 'E' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
  else 0 end end efectivo,  
  case when fac_estado = 'A' then 0   
  else case when fac_tipo_pago = 'C' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
  else 0 end end cheque,  
  fac_estado,  
  fac_fecha del ,fac_codigo,fac_lote lote
  from col_fac_facturas  
  join col_dfa_det_fac on dfa_codfac = fac_codigo  
  join col_tmo_tipo_movimiento on tmo_codigo = dfa_codtmo  
  join ra_reg_regionales on reg_codigo = @regional  
  join ra_uni_universidad on uni_codigo = reg_coduni  
  where datediff(d,fac_fecha,convert(datetime,@fecha,103)) = 0  
  and month(fac_fecha) = month(@fecha)  
  and year(fac_fecha) = year(@fecha)  
  and fac_tipo = 'F' 
  and fac_factura <> 0 
  
	--EXPORTACION 03062015
	union all
							 select uni_nombre, uni_nit, uni_iniciales,  uni_direccion, uni_registro,  
										   convert(varchar,fac_codigo) Numero_Registro,   
								  ltrim(rtrim(cast(case when isnumeric(fac_factura) = 0 then 0 else fac_factura end as int))) Numero_Documento,   
									'Factura' tipo,  
							  case when fac_estado = 'A' then 0 else  
							  case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then 0 else round(isnull(dfa_valor,0),2) end end expo,  
							  0 exento,
							  case when fac_estado = 'A' then 0 else case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2) else 0 end end neto,   
							  case when fac_estado = 'A' then 0 else isnull(dfa_iva,0) end iva,   
							  case when fac_estado = 'A' then 0 else  
							  --case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)+ round(isnull(dfa_iva,0),2)  
  
							  case when isnull(dfa_iva,0) > 0 or isnull(dfa_iva,0) < 0 then round(isnull(dfa_valor,0),2)
							  else 0 end end suma,  
							  case when fac_estado = 'A' then 0  
							  --   else isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0) end "Cantidad",
							  else isnull((round(dfa_valor,2)),0) end "Cantidad",    
							  case when fac_estado = 'A' then 0   
							  else case when fac_tipo_pago = 'T' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
							  else 0 end end tarjeta,  
							  case when fac_estado = 'A' then 0  
							  else case when fac_tipo_pago = 'E' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
							  else 0 end end efectivo,  
							  case when fac_estado = 'A' then 0   
							  else case when fac_tipo_pago = 'C' then isnull((round(dfa_valor,2) + round(isnull(dfa_iva,0),2)),0)   
							  else 0 end end cheque,  
							  fac_estado,  
							  fac_fecha del ,fac_codigo,fac_lote lote
							  from col_fac_facturas  
							  join col_dfa_det_fac on dfa_codfac = fac_codigo  
							  join col_tmo_tipo_movimiento on tmo_codigo = dfa_codtmo  
							  join ra_reg_regionales on reg_codigo = 1  
							  join ra_uni_universidad on uni_codigo = reg_coduni  
							  where datediff(d,fac_fecha,convert(datetime,@fecha,103)) = 0  
							  and month(fac_fecha) = month(@fecha)  
							  and year(fac_fecha) = year(@fecha)  
							  and fac_tipo = 'E' 
							  and fac_factura <> 0 

  ) t  
 group by uni_nombre, uni_nit, uni_iniciales,  uni_direccion, uni_registro, Numero_Registro, Numero_Documento,   
     tipo, estado, del  ,mov_codigo,lote
    ) w  
  group by uni_nombre, uni_nit, uni_iniciales,  Numero_Documento,uni_direccion, uni_registro, tipo, del , estado,mov_codigo,lote
order by lote,del, tipo desc, cast(Numero_Documento as int), dbo.fn_crufl_nombremes(month(del)) + cast(year(del) as varchar)


end

