USE [uonline]
GO
/****** Object:  Trigger [dbo].[tr_col_mov_insert]    Script Date: 24/5/2023 13:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	-- =============================================
	-- Author:      <Fabio>
	-- Create date: <2020-02-13 10:56:52.367>
	-- Description: <Trigger cuando se realiza un insert a  la tabla col_mov_movimientos, se creo para auditar todos los cambios a los movimientos>
	-- =============================================
ALTER trigger [dbo].[tr_col_mov_insert]
on [dbo].[col_mov_movimientos] after insert
as
begin
	print 'tr_col_mov_insert'
	declare @old_codcil int, @new_codcil int, 
	@codmov int, @campos_cambiados nvarchar(1024) = '', @mov_tipo_pago varchar(5) = ''
	
	select @mov_tipo_pago = mov_tipo_pago from inserted

	declare @correlativo_anual int = 0
	select @correlativo_anual = isnull(max(correlativo_anual), 0) + 1
	from vst_mh_encabezado_facturas 
	where tipo_dte_numero = 1 and year(fecha_registro_origen) = year(getdate())
	print '****** @correlativo_anual: ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '****** ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '******  ******'
	select @codmov = mov_codigo from inserted

	if @mov_tipo_pago = 'X' 
	begin
		set @correlativo_anual = 0
	end

	select * into #inserted from inserted

	declare @texto_sql_original nvarchar(1024),
	@hismov_XML_original nvarchar(max)

	select @texto_sql_original = concat('select @salida = concat(''<original>'', cast((
	select ','d.mov_codreg, d.mov_codigo, mov_recibo, mov_fecha, mov_codper, per_nombres, per_apellidos, per_carnet, 
	concat(''0'',cil_codcic, cil_anio) ciclo, mov_descripcion, mov_tipo_pago, mov_cheque, mov_estado, mov_tarjeta, mov_usuario,
	mov_fecha_registro, mov_usuario_anula, mov_fecha_anula, mov_historia, mov_tipo, ban_nombre, mov_forma_pago, dip_nombre, mdp_nombre, 
	mov_lote, mov_fecha_cobro, mov_puntoxpress, mov_recibo_puntoxpress, mov_fecha_real_pago', ' 
	from #inserted as d 
	inner join ra_per_personas as per on d.mov_codper = per.per_codigo
	inner join ra_cil_ciclo as cil on cil.cil_codigo = d.mov_codcil
	left join adm_ban_bancos as ban on ban.ban_codigo = d.mov_codban
	left join dip_dip_diplomados as dip on dip.dip_codigo = d.mov_coddip
	left join dip_mdp_modulos_diplomado as mdp on mdp.mdp_codigo = d.mov_codmdp','
	for xml path(''''))  as nvarchar(max)), ''</original>'')')

	exec sp_executesql @texto_sql_original, N'@salida nvarchar(max) out', @hismov_XML_original out
	insert into col_hismov_historico_movimientos (hismov_codmov, hismov_XML_original, hismov_XML, hismov_accion)
	values (@codmov, @hismov_XML_original, '', 'I')

	declare @codreg int, @lote int, @mov_codigo int, @mov_fecha date, @mov_usuario varchar(125), @codper int
	select @mov_codigo = mov_codigo, @mov_usuario = mov_usuario, @mov_fecha = mov_fecha, @lote = mov_lote, @codper = mov_codper from #inserted
	if ((select isnull(@lote, 0)) = 0)--lote esta null
	begin
		set dateformat dmy
		declare @lote_original int = @lote
		exec col_buscar_role @mov_usuario, @codreg out
		select @lote = tit_lote
		from col_tit_tiraje
		where tit_tpodoc = 'F' and tit_mes = month(@mov_fecha)
		and tit_anio = year(@mov_fecha) and tit_codreg = @codreg and tit_estado = 1
		
		insert into col_movsl_mov_sin_lotes 
		(movsl_mov_codigo, movsl_mov_usuario, movsl_mov_fecha, movsl_mov_codreg, 
		movsl_mov_lote_original, movsl_mov_lote_actualizado)
		select @mov_codigo, @mov_usuario, @mov_fecha, @codreg, 
		@lote_original, @lote

		update col_mov_movimientos set mov_lote = @lote where mov_codigo = @mov_codigo
	end

	update col_mov_movimientos set mov_correlativo_anual = @correlativo_anual where mov_codigo = @mov_codigo

	--if @codper in (231193, 225331, 224793, 204009, 227843, 230853, 111281, 189991, 199772, 225132, 200059, 180128, 225619, 220916, 225335, 218200, 225901, 212209, 196060, 230198, 224770, 230829, 217377, 201808, 230831, 184595, 207230, 164314, 228620, 212207, 148259, 231209, 197503, 215070, 207968, 201645, 216378, 225864, 215099, 206400, 201312, 159197, 204305, 229345, 230143, 191167, 162362, 209327, 214998, 182904, 209260, 174439, 215411, 201401, 230090, 189310, 192422, 224172, 200713, 183999, 226696, 219978, 195608, 177537, 161524, 221798, 229077, 221073, 223967, 221268, 198003, 169867, 225680, 228089, 230486, 217909, 199438, 229493, 191513, 215216, 193253, 227899, 226759, 214707, 215273, 199310, 223850, 210103, 226957, 229217, 208201, 215539, 174379, 222329, 226377, 190158, 229570, 201390, 210156, 207218, 225736, 226571, 218080, 220215, 214443, 217476, 224275, 224735, 174437, 225495, 225931, 217814, 184670, 209064, 196187, 227723, 226234, 225362, 201354, 158503, 201596, 193054, 192964, 131323, 208679, 223144, 204311, 195352, 216420, 231206, 195519, 217889, 220254, 218358, 214867, 226549, 224107, 223755, 224527, 169693, 190237, 225229, 105418, 221418, 193418, 208187, 223803, 206251, 144483, 225395, 219071, 217197, 162623, 186204, 209497, 220812, 229382, 192907, 203708, 155069, 204338, 172710, 230653, 222635, 225210, 225729, 206486, 215828, 225634, 225435, 223714, 226213, 230892, 211414, 208031, 206492, 211251, 225251, 215322, 168148, 226684, 219008, 192760, 198797, 186146, 195636, 218626, 186373, 176428, 100922, 225691, 195775, 212368, 161410, 221155, 226867, 189204, 224942, 208207, 203903, 226827, 221410, 204256, 199602, 187423, 191252, 230420, 225160, 206743, 225772, 189876, 215692, 224246, 225646, 229068, 219880, 166364, 215530, 72921, 224060, 231333, 198617, 159866, 208012, 196515, 208613, 167716, 175437, 228645, 216397, 231161, 216527, 223032, 184607, 225702, 226348, 199242, 230336, 197618, 190563, 230113, 220392, 224585, 196915, 212692, 198943, 207742, 229827, 222521, 229245, 197610, 207415, 167908, 209194, 230951, 226811, 230249, 214157, 212443, 181549, 226632, 206228, 216524, 168158, 230897, 206805, 189001, 200177, 210281, 192807, 226528, 226617, 221485, 218868, 226087, 190642, 226927, 225995, 215671, 209984, 183626, 146020, 172127, 225953, 182497, 155171, 221568, 180415, 192270, 226157, 194505, 215237, 217058, 194323, 221843, 183466, 227251, 207931, 199058, 221113, 193396, 209493, 210559, 230734, 215232, 163478, 136399, 208789, 207039, 198534, 200704, 198589, 231150, 209977, 155691, 206147, 174228, 230404, 149366, 190667, 230409, 200622, 181966, 229929, 212582, 221265, 114403, 227109, 103132, 229082, 229461, 231603, 209597, 184514, 210166, 225834, 211932, 230968, 230510, 192102, 208591, 200469, 186419, 199013, 226028, 208200, 213043, 216381, 63577, 183194, 221620, 172796, 163857, 210320, 230498, 215663, 209554, 231344, 146026, 199736, 171559, 231528, 231276, 214698, 218701, 207183, 210124, 206591, 204568, 201935, 190189, 176164, 147481, 229336, 186864, 141315, 215977, 205279, 166992, 231317, 225857, 107865, 203524, 194529, 212695, 141389, 225862, 218601, 194910, 231202, 107950, 218100, 171181, 201614, 223709, 224628, 220187, 178110, 212292, 223459, 225655, 179938, 204283, 220910, 204411, 231490, 58833, 107190, 208023, 221088, 186179, 229364, 180893, 228373, 199735, 153561, 215272, 199038, 28580, 226365, 220911, 223772, 221445, 141568, 204200, 189369, 230858, 224469, 207796, 173513, 203891, 224705, 230154, 199938, 215351, 221384, 169919, 200327, 200502, 216890, 199224, 188829, 230015, 203536, 225056, 228627, 198055, 229383, 184011, 230581, 209380, 197935, 164231, 67893, 212333, 200420, 220909, 163099, 188828, 217816, 162101, 162906, 164930, 200045, 229093, 212771, 226244, 197953, 206654, 207130, 214466, 192943, 200605, 192271, 205575, 193086, 228726, 221452, 224563, 229894, 230706, 183757, 218489, 191261, 230780, 212344, 231104, 224979, 209840, 216429, 231001, 228633, 226799, 198147, 210379, 206382, 158637, 161568, 180411, 213086, 204726, 191952, 224227, 177886, 218925, 191175, 155449, 110616, 192280, 191303, 228026, 162949, 174375, 215218)
	--begin
	--	print 'codper update ra_ins codcil 1 to 127'
	--	update ra_ins_inscripcion set ins_codcil = 127 where ins_codper = @codper and ins_codcil = 1
	--end

	drop table #inserted
end
go

	-- =============================================
	-- Author:      <Fabio>
	-- Create date: <2023-06-19 12:03:48.987>
	-- Description: <Trigger cuando se realiza un insert a  la tabla col_fac_facturas, se creo para auditar todos los cambios a los movimientos>
	-- =============================================
create OR ALTER trigger [dbo].[tr_col_fac_insert]
on [dbo].[col_fac_facturas] after insert
as
begin
	declare @codfac int = 0, @fac_tipo varchar(3) = '', @tipo_dte_numero int = 0
	select @codfac = fac_codigo, @fac_tipo = fac_tipo from inserted

	--CALCULAR CORRELATIVO ANUAL
	declare @correlativo_anual int = 0
	
	if @fac_tipo = 'F'--Factura
	begin
		set @tipo_dte_numero = 1
	end
	if @fac_tipo = 'E'--Exportacion
	begin
		set @tipo_dte_numero = 11
	end
	if @fac_tipo = 'C'--Credito Fiscal
	begin
		set @tipo_dte_numero = 3
	end
	if @fac_tipo = 'NC'--Nota de credito
	begin
		set @tipo_dte_numero = 5
	end

	select @correlativo_anual = isnull(max(correlativo_anual), 0) + 1
	from vst_mh_encabezado_facturas 
	where tipo_dte_numero = @tipo_dte_numero and year(fecha_registro_origen) = year(getdate())
	print '****** @correlativo_anual: ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '****** ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '******  ******'

	update col_fac_facturas set 
		fac_tipo_dte_numero = (case when fac_tipo = 'F' then 1 when fac_tipo = 'E' then 11 when fac_tipo = 'C' then 3 when fac_tipo = 'NC' then 5 else 0 end),
		fac_tipo_dte = (case when fac_tipo = 'F' then '01' when fac_tipo = 'E' then '11' when fac_tipo = 'C' then '03' when fac_tipo = 'NC' then '05' else '' end),
		fac_documento = (case when fac_tipo = 'F' then 'FC' when fac_tipo = 'E' then 'FEX' when fac_tipo = 'C' then 'CCF' when fac_tipo = 'NC' then 'NC' else '' end),
		fac_correlativo_anual = @correlativo_anual
	where fac_codigo = @codfac

end
go

	-- =============================================
	-- Author:      <Fabio>
	-- Create date: <2023-06-04 10:42:47.927>
	-- Description: <Trigger cuando se realiza un insert a la tabla con_rei_retencion_iva, se creo para obtener el correlativo anual>
	-- =============================================
create or alter trigger [dbo].[tr_con_rei_insert]
on [dbo].[con_rei_retencion_iva] after insert
as
begin
	print 'tr_con_rei_insert'
	declare	@codrei int, @rei_de_terceros bit
	
	select @codrei = rei_codigo, @rei_de_terceros = rei_de_terceros from inserted
	if (@rei_de_terceros = 0)--A la retencion de terceros no se le genera correlativo porque no se da factura
	begin
		declare @correlativo_anual int = 0
		select @correlativo_anual = isnull(max(correlativo_anual), 0) + 1
		from vst_mh_encabezado_facturas 
		where tipo_dte_numero = 7 and year(fecha_registro_origen) = year(getdate())
		print '****** @correlativo_anual: ' + cast(@correlativo_anual as varchar(10)) + ' ******'
		print '****** ' + cast(@correlativo_anual as varchar(10)) + ' ******'
		print '******  ******'

		update con_rei_retencion_iva set rei_correlativo_anual = @correlativo_anual where rei_codigo = @codrei
	end
end
go

	-- =============================================
	-- Author:      <Fabio>
	-- Create date: <2023-06-05 12:31:55.540>
	-- Description: <Trigger cuando se realiza un insert a la tabla con_don_donaciones, se creo para obtener el correlativo anual>
	-- =============================================
create or alter trigger [dbo].[tr_con_don_insert] on [dbo].[con_don_donaciones] after insert
as
begin

	declare @correlativo_anual int = 0, @coddon int = 0
	select @correlativo_anual = isnull(max(correlativo_anual), 0) + 1
	from vst_mh_encabezado_facturas 
	where tipo_dte_numero = 15 and year(fecha_registro_origen) = year(getdate())
	
	print '****** @correlativo_anual: ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '****** ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '******  ******'
	select @coddon = don_codigo from inserted

	update con_don_donaciones set don_correlativo_anual = @correlativo_anual where don_codigo = @coddon

end
go


	-- =============================================
	-- Author:      <Fabio>
	-- Create date: <2023-06-06 15:26:48.480>
	-- Description: <Trigger cuando se realiza un insert a la tabla faex_facturacion_sujeto_excluido, se creo para obtener el correlativo anual>
	-- =============================================
create or alter trigger [dbo].[tr_faex_insert] on [dbo].[faex_facturacion_sujeto_excluido] after insert
as
begin

	declare @correlativo_anual int = 0, @codfaex int = 0
	select @correlativo_anual = isnull(max(correlativo_anual), 0) + 1
	from vst_mh_encabezado_facturas 
	where tipo_dte_numero = 14 and year(fecha_registro_origen) = year(getdate())
	
	print '****** @correlativo_anual: ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '****** ' + cast(@correlativo_anual as varchar(10)) + ' ******'
	print '******  ******'
	select @codfaex = faex_codigo from inserted

	update faex_facturacion_sujeto_excluido set faex_correlativo_anual = @correlativo_anual where faex_codigo = @codfaex

end
go
